<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bff5b7">  <td>23/12/10 13:28:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestScript.executor()[pri:0, instance:API_TestSuite.Patch_TestScript@1750fbeb]">executor</td> 
  <td>main@18179709</td>   <td></td> </tr>
<tr bgcolor="9aafa1">  <td>23/12/10 13:28:01</td>   <td>1101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestScript.executor()[pri:0, instance:API_TestSuite.Post_TestScript@5b247367]">executor</td> 
  <td>main@18179709</td>   <td></td> </tr>
<tr bgcolor="e76cc7">  <td>23/12/10 13:28:00</td>   <td>-590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestScript.executor()[pri:0, instance:API_TestSuite.Get_TestScript@7ce69770]">executor</td> 
  <td>main@18179709</td>   <td></td> </tr>
<tr bgcolor="b6cdac">  <td>23/12/10 13:28:03</td>   <td>2234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestScript.executor()[pri:0, instance:API_TestSuite.Delete_TestScript@268f106e]">executor</td> 
  <td>main@18179709</td>   <td></td> </tr>
<tr bgcolor="6a70b9">  <td>23/12/10 13:27:55</td>   <td>-5230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestScript.executor()[pri:0, instance:API_TestSuite.Put_TestScript@4681c175]">executor</td> 
  <td>main@18179709</td>   <td></td> </tr>
</table>
